/API/build/
/API/dist/
/API/nbproject/private/
/DeveloperSupport/conf/googlecode.properties
/DeveloperSupport/conf/innosetup.properties
/DeveloperSupport/conf/sourceforge.properties
/DeveloperSupport/conf/website.properties
/dist_files/upload/
/Domain/build/
/Domain/dist/
/Domain/nbproject/private/
/Exif/build/
/Exif/dist/
/Exif/nbproject/private/
/ExportersImporters/JPhotoTaggerExportersImporters/build/
/ExportersImporters/JPhotoTaggerExportersImporters/dist/
/ExportersImporters/JPhotoTaggerExportersImporters/nbproject/private/
/ExternalThumbnailCreationCommands/DefaultExternalThumbnailCreationCommands/build/
/ExternalThumbnailCreationCommands/DefaultExternalThumbnailCreationCommands/dist/
/ExternalThumbnailCreationCommands/DefaultExternalThumbnailCreationCommands/nbproject/private/
/Image/build/
/Image/dist/
/Iptc/build/
/Iptc/dist/
/Iptc/nbproject/private/
/KML/build/
/KML/dist/
/KML/nbproject/private/
/Lib/build/
/Lib/dist/
/Lib/nbproject/private/
/Localization/build/
/Localization/dist/
/Localization/nbproject/private/
/LookAndFeels/build/
/LookAndFeels/dist/
/LookAndFeels/nbproject/private/
/Modules/DisplayFilesWithoutMetaData/build/
/Modules/DisplayFilesWithoutMetaData/nbproject/private/
/Modules/Exif/build/
/Modules/Exif/dist/
/Modules/Exif/nbproject/private/
/Modules/FileEventHooks/build/
/Modules/FileEventHooks/dist/
/Modules/FileEventHooks/nbproject/private/
/Modules/FindDuplicates/build/
/Modules/FindDuplicates/dist/
/Modules/FindDuplicates/nbproject/private/
/Modules/ImportFiles/build/
/Modules/ImportFiles/dist/
/Modules/ImportFiles/nbproject/private/
/Modules/Iptc/build/
/Modules/Iptc/dist/
/Modules/Iptc/nbproject/private/
/Modules/Maintainance/build/
/Modules/Maintainance/dist/
/Modules/Maintainance/nbproject/private/
/Modules/RepositoryFileBrowser/build/
/Modules/RepositoryFileBrowser/dist/
/Modules/RepositoryFileBrowser/nbproject/private/
/Modules/Synonyms/build/
/Modules/Synonyms/dist/
/Modules/Synonyms/nbproject/private/
/Modules/UserDefinedFileFilters/build/
/Modules/UserDefinedFileFilters/dist/
/Modules/UserDefinedFileFilters/nbproject/private/
/Modules/UserDefinedFileTypes/build/
/Modules/UserDefinedFileTypes/dist/
/Modules/UserDefinedFileTypes/nbproject/private/
/Modules/Xmp/build/
/Modules/Xmp/dist/
/Modules/Xmp/nbproject/private/
/OmegaT/**.bak
/OmegaT/**.zip
/OmegaT/**/target/
/Plugins/CopyFilenamesToClipboard/build/
/Plugins/CopyFilenamesToClipboard/dist/
/Plugins/CopyFilenamesToClipboard/nbproject/private/
/Plugins/FlickrUpload/build/
/Plugins/FlickrUpload/dist/
/Plugins/FlickrUpload/nbproject/private/
/Plugins/HtmlReports/build/
/Plugins/HtmlReports/dist/
/Plugins/HtmlReports/nbproject/private/
/Plugins/IrfanViewSlideshow/build/
/Plugins/IrfanViewSlideshow/dist/
/Plugins/IrfanViewSlideshow/nbproject/private/
/Program/build/
/Program/dist/
/Program/nbproject/private/
/Program/src/org/jphototagger/program/resource/doc/**/doc\.html
/Program/src/org/jphototagger/program/resource/doc/**/doc_iso.*\.html
/Repositories/HSQLDB/build/
/Repositories/HSQLDB/dist/
/Repositories/HSQLDB/nbproject/private/
/UserServices/build/
/UserServices/dist/
/UserServices/nbproject/private/
/Website/manual/
/XMP/build/
/XMP/dist/
/XMP/nbproject/private/
/Image/nbproject/private/
/Repositories/HSQLDB/build
/Modules/DisplayFilesWithoutMetaData/dist/